@using day3.Homework.Models
@model Person
@{
    ViewBag.Title = "Person";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="badge" style="margin-left:560px; color:steelblue">
        <fieldset>
            <legend style="color:steelblue">Register</legend>
            <div class="editor-label">
                @Html.Label("Name")
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Name)
            </div>
           
            <div class="editor-field">
                @Html.DropDownListFor(model => model.Type,
           new SelectList(Enum.GetNames(typeof(TypePerson))), string.Empty)
            </div>
            <p>
                <input type="submit" value="Send" />
            </p>
        </fieldset>
        <p></p>
    </div>

}

